<div class="modal" tabindex="-1"
    [class.modal--show]="open">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastrar</h5>
                <!-- Fechar modal-->
                <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
            </div>
            <div class="modal-body">
                <form #form="ngForm">
                    <div class="row">
                        <div class="d-flex flex-column mb-2 col-sm-6 col-12"> <!-- Agência -->
                          <label for="Agencia" class="mb-1 ms-1">Agência: <span class="text-danger">*</span></label>
                          <p-dropdown
                            [options]="listAgencia"
                            placeholder="Selecione uma Agência"
                            #Agencia="ngModel"
                            [(ngModel)]="cadastro.Agencia"
                            name="Agencia"
                            optionValue="Nome"
                            optionLabel="Nome">
                          </p-dropdown>
                        </div>
                        <div class="d-flex flex-column mb-2 col-sm-6 col-12"> <!-- Unidade -->
                            <label for="Unidade" class="mb-1 ms-1">Unidade: <span class="text-danger">*</span></label>
                            <p-dropdown
                              [options]="listUnidade"
                              placeholder="Selecione uma Unidade"
                              #Agencia="ngModel"
                              [(ngModel)]="cadastro.Unidade"
                              name="Unidade"
                              optionValue="Nome"
                              optionLabel="Nome">  
                            </p-dropdown>
                          </div>
                      </div>
                </form>
                <div class="modal-footer">
                    <button 
                        label="Cancelar" 
                        pButton    
                        class="btn-clear"  
                        (click)="close()" 
                        [disabled]="loading">
                    </button>
                </div>
            </div>
        </div>
   
    </div>
    
            
              
          
     



