@import url('../../../assets/css/button.css');
@import "~bootstrap/dist/css/bootstrap.css";

:host ::ng-deep .btn-cancel{
    font-size: 11pt;
}
:host ::ng-deep .btn-clear{
    font-size: 11pt;
}

:host ::ng-deep .p-toolbar {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
}

:host ::ng-deep .table td,th{
    padding: 12px 30px;
}

:host ::ng-deep .p-datatable-header{
    background-color: inherit;
}

:host ::ng-deep .p-datatable-header .button-holder{
 background-color: inherit;
}