<p>delete works!</p>
<div class="modal" tabindex="-1"
    [class.modal--show]="open">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Excluir</h5>
                <!-- Fechar modal-->
                <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <p>Tem certeza que deseja excluir esse cadastro?<br>
                      Essa ação é irreversível e você não poderá recuperar esses dados!</p>
                 
                </div>
                
                <div class="modal-footer">
                    <button 
                    label="Excluir" 
                    pButton    
                    class="btn-clear"  
                    (click)="exclude() " 
                    [disabled]="loading">
                </button>
                    <button 
                        label="Cancelar" 
                        pButton    
                        class="btn-cancel"  
                        (click)="close()" 
                        [disabled]="loading">
                    </button>
                </div>
            </div>
        </div>
   
    </div>
    <div class="progress-spinner" *ngIf="loading">
        <p-progressSpinner styleClass="color-spinner" strokeWidth="8">
    
        </p-progressSpinner>
    
    </div>